@media (max-width: 600px) {
    #nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #header-img {
        width: 80px;
    }
}


#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
}

body {
    padding-top: 80px;
}

